{% extends "base.html" %}

{% block content %}
  <div class="page-header flex-column align-items-start pt-8 min-vh-100"
       style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80');"
       loading="lazy">
    <div class="container-fluid d-flex justify-content-center" style="margin-top: 20px">
      <div class="card p-4">
        <h1 class="mb-4 mt-4 container-fluid d-flex justify-content-center">Login<a href="{% url 'catalog:user-create' %}" class="btn btn-primary link-to-page ml-4 mt-2">Create</a></h1>

        {% if form.error %}
          <p style="color: red">Invalid credentials</p>>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="text-center mt-4">
            <input type="submit" value="Submit" class="btn bg-gradient-primary w-auto me-2">
          </div>
          <input type="hidden" name="next" value="{{ next }}"/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}