<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>
      <a href="{% url 'catalog:user-detail' user.id %}">User: {{ user.username }}</a>
    </li>
    <li>
      <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <li>
      <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  <li><a href="{% url 'catalog:index' %}">Home page</a></li>
  <li><a href="{% url 'catalog:user-list' %}">Users</a></li>
  <li><a href="{% url 'catalog:city-list' %}">Cities</a></li>
  <li><a href="{% url 'catalog:review-list' %}">Reviews</a></li>
  <li><a href="{% url 'catalog:route-list' %}">Routes</a></li>
</ul>
