{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="page-header flex-column align-items-start pt-8 min-vh-100"
       style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80');"
       loading="lazy">
    <div class="container-fluid d-flex justify-content-center" style="margin-top: 20px">
      <div class="card p-4">
        <h1 class="mb-4 mt-4 container-fluid d-flex justify-content-center">City Detail</h1>

        <ul class="px-4">
          <li><strong>ID:</strong> {{ city.id }}</li>
          <li><strong>Name:</strong> {{ city.name }}</li>
          <li><strong>Country:</strong> {{ city.country }}</li>
          <li><strong>Population:</strong> {{ city.population }}</li>
          <li><strong>Attractions:</strong> {{ city.attractions }}</li>
          <div class="d-flex justify-content-center align-items-center mt-5">
          <span>
            <a href="{% url 'catalog:city-update' pk=city.id %}" class="btn bg-gradient-warning me-2">UPDATE</a>
            <a href="{% url 'catalog:city-delete' pk=city.id %}" class="btn bg-gradient-danger">DELETE</a>
          </span>
          </div>
        </ul>
      </div>
    </div>
    {% include "includes/pagination.html" %}
  </div>
{% endblock %}

