{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <div>
      <h1 class="mb-4 mt-4">City list <a href={% url "catalog:city-create" %}>+</a></h1>
      {% if cities %}

        <form method="get" action="" class="form-inline mb-4">
          {{ search_form|crispy }}
          <input class="btn bg-gradient-light w-auto me-2" type="submit" value="Search">
        </form>
        <ul>
          {% for city in cities %}
            <li>
              <strong>ID:</strong> <a href="{% url 'catalog:city-detail' pk=city.pk %}">
                {{ city.id }} - {{ city.name }}
              </a>
              </span>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>There are no cities in the catalog</p>
      {% endif %}
    </div>
  </div>
{% endblock %}



{#{% extends "base.html" %}#}
{#{% load crispy_forms_filters %}#}
{##}
{#{% block content %}#}
{#  <div class="page-header min-vh-100" style="background-image: url('{% static 'img/fone.png' %}');" loading="lazy">#}
{#    <h1 class="mb-4">City list <a href={% url "catalog:city-create" %}>+</a></h1>#}
{#    {% if cities %}#}
{#      #}
{#      <form method="get" action="" class="form-inline mb-4">#}
{#        {{ search_form|crispy }}#}
{#        <input class="btn bg-gradient-light w-auto me-2" type="submit" value="Search">#}
{#      </form>#}
{#      <ul>#}
{#        {% for city in cities %}#}
{#          <li>#}
{#            <strong>ID:</strong> <a href="{% url 'catalog:city-detail' pk=city.pk %}">#}
{#              {{ city.id }} - {{ city.name }}#}
{#            </a>#}
{#            </span>#}
{#          </li>#}
{#        {% endfor %}#}
{#      </ul>#}
{#    {% else %}#}
{#      <p>There are no cities in the catalog</p>#}
{#    {% endif %}#}
{#  </div>#}
{#{% endblock %}#}