{% extends "base.html" %}

{% block content %}
<h2>Review Detail</h2>
<ul>
    <li><strong>ID:</strong> {{ review.id }}</li>
    <li><strong>Rating:</strong> {{ review.rating }}</li>
    <li><strong>Comment:</strong> {{ review.comment }}</li>
    <li><strong>Author:</strong> {{ review.author.username }}</li>
    <li><strong>City:</strong> {{ review.city.name }}</li>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <span>
        <a href="{% url 'catalog:review-update' pk=review.id %}" class="btn bg-gradient-warning me-2">UPDATE</a>
        <a href="{% url 'catalog:review-delete' pk=review.id %}" class="btn bg-gradient-danger">DELETE</a>
      </span>
    </div>
</ul>
{% endblock %}
