{% extends "base.html" %}

{% block content %}
  <div class="page-header min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1520769945061-0a448c463865?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>
      <div class="container d-flex justify-content-center">
        <div>
          <h1 class="text-white mb-4">Delete Route</h1>
          <p class="text-white opacity-8 lead pe-5 me-5">Are you sure you want to delete the route: <br/> {{ route }}? </p>
          <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Yes, delete" class="btn btn-danger" />
            <a href="{% url 'catalog:city-list' %}" class="btn btn-secondary ms-3">Cancel</a>
          </form>
        </div>
      </div>
  </div>
{% endblock %}
