{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="mb-4">Route list <a href={% url "catalog:route-create" %}>+</a></h1>
  {% if routes %}
    
    <form method="get" action="" class="form-inline mb-4">
      {{ search_form|crispy }}
      <input class="btn bg-gradient-light w-auto me-2" type="submit" value="Search">
    </form>
    
    <ul>
      {% for route in routes %}
        <li>
          <strong>ID:</strong>
          <a href="{% url 'catalog:route-detail' pk=route.pk %}">
            {{ route.id }} - {{ route.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no routes in the catalog</p>
  {% endif %}
{% endblock %}
